services:
  postgres:
    image: 'postgres:latest'
    restart: unless-stopped
    environment:
      - 'POSTGRES_DB=platzi_play_db'
      - 'POSTGRES_PASSWORD=eduardo09'
      - 'POSTGRES_USER=eduardo'
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/data/postgres

  volumes:
    pgdata:
